<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yotam.modimidi"
          android:versionName="1.0"
          android:versionCode="1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application android:label="ModiMidi"
                 android:icon="@mipmap/icon"
                 android:extractNativeLibs="true"
                 android:requestLegacyExternalStorage="true">

        <activity android:name="org.qtproject.qt.android.bindings.QtActivity"
                  android:configChanges="orientation|uiMode|screenSize|screenLayout"
                  android:exported="true"
                  android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="ModiMidi_arm64-v8a" />
        </activity>
    </application>
</manifest>
